<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.han.test.springboot_test3.mapper.BacklogMapper">

    <resultMap id="Backlog" type="com.han.test.springboot_test3.domain.Backlog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
        <result column="business_number" jdbcType="VARCHAR" property="businessNumber"/>
        <result column="task" jdbcType="VARCHAR" property="task"/>
        <result column="leave_time" jdbcType="TIMESTAMP" property="leaveTime"/>
        <result column="schedule" jdbcType="VARCHAR" property="schedule"/>
        <result column="enter" jdbcType="VARCHAR" property="enter"/>
        <result column="testNum" jdbcType="INTEGER" property="testNum"/>
    </resultMap>

    <select id="getList" resultMap="Backlog">
        SELECT id,module,business_number,task,leave_time,schedule,enter FROM backlog
        <where>
            <if test="leaveTime != null">
                AND leave_time &lt;=#{leaveTime}
            </if>
            <if test="module != null">
                AND module = #{module}
            </if>
            <if test="task != null">
                AND task = #{task}
            </if>
        </where>
    </select>
    <select id="selectMany" resultMap="Backlog">
        SELECT id,module,business_number,task,leave_time,schedule,enter,testNum FROM backlog
        where 1=1
        <if test="testNum != null and testNum != ''">
            and testNum = #{testNum}
        </if>
    </select>

    <update id="updateSome">
        update backlog
        <set>
            task = '666',
            leave_time = NOW()
        </set>
        where 1=1
        <if test="testNum != null and testNum != ''">
            testNum = #{testNum}
        </if>
    </update>
    <update id="updateSome1">
        update backlog
        <set>
            task = '555',
            leave_time = NOW()
        </set>
        where 1=1
        <if test="testNum != null and testNum != ''">
            testNum = #{testNum}
        </if>
    </update>

</mapper>


