<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.han.test.springboot_test3.mapper.BacklogMapper">

    <resultMap id="Backlog" type="com.han.test.springboot_test3.domain.Backlog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
        <result column="business_number" jdbcType="VARCHAR" property="businessNumber"/>
        <result column="task" jdbcType="VARCHAR" property="task"/>
        <result column="leave_time" jdbcType="BIGINT" property="leaveTime"/>
        <result column="schedule" jdbcType="VARCHAR" property="schedule"/>
        <result column="enter" jdbcType="VARCHAR" property="enter"/>
    </resultMap>

    <select id="getList" resultMap="Backlog">
        SELECT id,module,business_number,task,leave_time,schedule,enter FROM backlog
        <where>
            <if test="leaveTime != null">
                AND leave_time &lt;=#{leaveTime}
            </if>
            <if test="module != null">
                AND module = #{module}
            </if>
            <if test="task != null">
                AND task = #{task}
            </if>
        </where>
    </select>

</mapper>







        <!--<update id="update">-->
        <!--<if test="backlogs != null">-->
        <!--<foreach collection="backlogs" item="backlog" separator=";">-->
        <!--UPDATE backlog-->
        <!--<set>-->
        <!--<if test="backlog.module != null">-->
        <!--module=#{backlog.module},-->
        <!--</if>-->
        <!--<if test="backlog.businessNumber != null">-->
        <!--business_number=#{backlog.businessNumber},-->
        <!--</if>-->
        <!--<if test="backlog.task != null">-->
        <!--task=#{backlog.task},-->
        <!--</if>-->
        <!--<if test="backlog.leaveTime != null">-->
        <!--leave_time=#{backlog.leaveTime},-->
        <!--</if>-->
        <!--<if test="backlog.schedule != null">-->
        <!--schedule=#{backlog.schedule},-->
        <!--</if>-->
        <!--<if test="backlog.enter != null">-->
        <!--enter=#{backlog.enter}-->
        <!--</if>-->
        <!--</set>-->
        <!--WHERE id=#{backlog.id}-->
        <!--</foreach>-->
        <!--</if>-->
        <!--</update>-->

        <!--<insert id="save">
            <if test="backlogs != null">
                <foreach collection="backlogs" item="backlog" separator=";">
                    INSERT INTO backlog
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="backlog.module != null">
                            module,
                        </if>
                        <if test="backlog.businessNumber != null">
                            business_number,
                        </if>
                        <if test="backlog.task != null">
                            task,
                        </if>
                        <if test="backlog.leaveTime != null">
                            leave_time,
                        </if>
                        <if test="backlog.schedule != null">
                            schedule,
                        </if>
                        <if test="backlog.enter != null">
                            enter
                        </if>
                    </trim>
                    VALUES
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test="backlog.module != null">
                            #{backlog.module},
                        </if>
                        <if test="backlog.businessNumber != null">
                            #{backlog.businessNumber},
                        </if>
                        <if test="backlog.task != null">
                            #{backlog.task},
                        </if>
                        <if test="backlog.leaveTime != null">
                            #{backlog.leaveTime},
                        </if>
                        <if test="backlog.schedule != null">
                            #{backlog.schedule},
                        </if>
                        <if test="backlog.enter != null">
                            #{backlog.enter}
                        </if>
                    </trim>

                </foreach>
            </if>
        </insert>-->